 #home-header {
  position: absolute;
  top: 0;
  width: 85%;
  height: 75px;
  line-height: 75px;
  z-index: 99;
  padding-left: 125px;
}
#logo-text {
  margin: 0;
  display: inline-block;
  font-family: 'Futura';
}
#home-logo {
  width: 75px;
  position: absolute;
  left: 50px;
}
.home-header-item {
  font-family: 'Futura';
  display: inline-block;
  font-weight: 900;
  cursor: pointer;
  margin: 0;
  float: right;
}
.home-header-link{
  color: black;
}
.home-header-slash {
  font-family: 'Futura';
  display: inline-block;
  font-weight: 900;
  margin: 0;
  float: right;
}

#loc-input {
  height: 350px;
  width: 100%;
  position: absolute;
  top: 75px;
  text-align: center;
  background: url(http://manoa.hawaii.edu/hshk/wp-content/uploads/2013/03/IMG_9539.jpg);
  background-size: 100%;
  background-position: 0% 45%;
/*  border: 1px solid black;*/
  border-width: 3px 0 3px 0;
}
#all-good-things {
  font-size: 44px;
  position: relative;
  top: 20%;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2.5px;
  color: white;
}
#location-input {
  font-size: 20px;
  width: 40%;
  position: relative;
  top: 75px;
  right: 25px;
  height: 35px;
  border-radius: 25px;
  border: 3px solid black;;
  padding-left: 50px
}
#location-input:focus {
  outline: none;
}
#get-started-btn {
  position: relative;
  top: 75px;
  background-color: #ff8f00;
  border: none;
  height: 35px;
  line-height: 35px;
  width: 150px;
  font-family: 'Futura';
  font-size: 18px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}
#get-started-btn:focus {
  outline: none;
}

#home-descrip {
  position: absolute;
  top: 450px;
  left: 10%;
  width: 80%;
}
#the-byf {
  font-family: 'Futura';
  font-size: 40px;
  color: #8DB500;
}
#hyper-local-right {
  text-align: right;
}
#hyper-local {
  font-family: 'Futura';
  align-self: right;
}

#home-footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  background-color: #8DB500;
  width: 100%;
}