#request_board h1{
  text-align: center;
  margin-top: 0px;
}

#products_display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 30px;
}
.productsR{
  width: 40%;
  border: solid black 2px;
}
.productsR p, .productsS p{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.productsS{
  width: 40%;
  border: solid black 2px;
}

.displayProducts{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
  border-top: solid black 1px;
}

.displayProducts p{
  text-decoration: none;
  font-weight:400;
}

.checkbox {
  margin-top: 18px;
}

.inputQuantity{
  height: 20px;
  margin-top: 18px;
  margin-right: 2%;
}

#send_request{

margin: auto;
margin-top: 25px;
display: block;
}