#user-newsfeed {
  text-align: center;
  border: 1px solid #999999;
  position: absolute;
  left: 35%;
  top: 25%;
  width: 35%;
  height: 750px;
}
#user-messages {
  text-align: center;
  border: 1px solid #999999;
  width: 20%;
  height: 350px;
  position: absolute;
  top: 25%;
  left: 75%;
}
#settings-edit {
  position: absolute;
  top: 85%;
  left: 15%;
  font-family: 'Helvetica';
  width: 10%;
  height: 25px;
  line-height: 20px;
  background-color: #8db500;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
#view-your-crops {
  position: absolute;
  top: 90%;
  left: 15%;
  font-family: 'Helvetica';
  width: 10%;
  height: 25px;
  line-height: 20px;
  background-color: #8db500;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}