#sup-search-pic {
  height: 575px;
}
#supplier-search {
  height: 575px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  overflow: hidden;
}
#sup-search-bar {
  border-radius: 25px;
  border: none;
  height: 25px;
  position: absolute;
  bottom: 235px;
  padding: 5px;
  right: 200px;
  width: 250px;
  font-size: 20px;
  text-align: center;
}
#sup-search-bar:focus {
  outline: none;
}

#sup-search-btn {
  position: absolute;
  right: 35px;
  bottom: 235px;
  background-color: #ff8f00;
  border: none;
  height: 35px;
  line-height: 35px;
  width: 150px;
  font-family: 'Futura';
  font-size: 18px;
  border-radius: 25px;
  color: #fff;
}
#sup-search-btn:focus {
  outline: none;
}

#look-up-loc {
  position: absolute;
  top: 40%;
  left: 12.5%;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1.5px;
}

#supplier-filter {
  position: absolute;
  top: 20%;
  left: 150px;
}
#find-a-sup {
  display: inline-block;
  color: #98AE00;
  font-size: 20px;
  font-family: 'Futura';
}
.filter-btn {
  display: inline-block;
  margin: 0 0 0 25px;
  padding: 0 25px;
  height: 35px;
  border: 1.5px solid #98AE00;
  border-radius: 25px;
  background-color: transparent;
  color: #98AE00;
  font-size: 14px;
  font-family: 'Futura';
}

#supplier-items-list {
  width: 45%;
  position: absolute;
  top: 30%;
  left: 175px;
}
#supp-list {
  list-style: none;
}
.sup-list-item {
  border: 1.5px solid #333;
  margin-bottom: 5px;
  height: 125px;
}
.supp-name {
  font-family: 'Futura';
  position: relative;
  left: 150px;
  top: -85px;
}
.supp-loc {
  font-family: 'Helvetica';
  font-size: 16px;
  position: relative;
  top: -95px;
  left: 150px;
}
.plant-list-preview {
  font-family: 'Helvetica';
  font-size: 14px;
  color: #98AE00;
  position: relative;
  top: -105px;
  left: 150px;
}
.message-supp {
  font-family: 'Helvetica';
  font-size: 12px;
  color: #98AE00;
  position: relative;
  top: -105px;
  left: 300px;
}
.view-supp {
  font-family: 'Helvetica';
  font-size: 12px;
  color: #98AE00;
  position: relative;
  top: -130px;
  left: 400px;
}
.supp-profile-picture {
  position: relative;
  top: 25px;
  left: 50px;
  height: 75px;
  width: 75px;
  border-radius: 50px;
}
