#quotations-feed-title {
  text-align: center;
}
.displayQuotations {
  width: 85%;
  margin-left: 7.5%;
  border: solid black 2px;
}
.displayQuotations span {
  font-weight: bold;
}
.QuotationsHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-bottom: dotted black 2px;
  background-color: #CDEB72;
}
.QuotationsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.listProdReq {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border-right: solid black 2px;
  border-bottom: solid black 2px;
}
.listProdOff {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border-bottom: solid black 2px;
}
.QuotationsFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Delivery p{
  text-align: center;
  margin-bottom: 0px;
}

.buttonsQuotations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#update_quotation_form {
  position: fixed;
  width: 60%;
  margin-left: 20%;
  height: 70%;
  background-color: white;
  z-index: 1;
}
