#Login {
  width: 45%;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
  border-width: 0px 1px 0px 1px;
}
.login-form-info {
  font-family: 'Futura';
  display: block;
  margin: 0 auto 10px auto;
  border: 1px solid #dfdfdf;
  padding-left: 2.5%;
  width: 75%;
  height: 30px;
  font-size: 20px;
  border-radius: 15px;
  text-align: center;
  color: #555;
}
.login-form-info::placeholder {
  color: #999;
}
.login-form-info:focus {
  outline: none;
}
#login-form-btn {
  font-family: 'Futura';
  width: 50%;
  height: 50px;
  margin: 15px auto;
  display: block;
  background-color: #8db500;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
#login-form-btn:focus {
  outline: none;
}
#sign-up-from-login {
  width: 45%;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
  border-width: 0px 1px 1px 1px;
}
#sufl-Q {
  color: #333333;
  font-family: sans-serif;
  font-weight: 100;
  display: inline-block;
  margin: 0 0 50px 100px;
}
#sufl-btn {
  font-family: 'Futura';
  width: 35%;
  height: 35px;
  margin-left: 20px;
  background-color: #8db500;
  border: none;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
#sufl-btn:focus {
  outline: none;
}
#social-login {
  width: 45%;
  height: 150px;
  border: 1px solid #dfdfdf;
  border-width: 1px 1px 0 1px;
  margin: 50px auto 0 auto;
}
#facebook-login {
  font-family: 'Futura';
  margin: 15px auto;
  width: 50%;
  height: 50px;
  display: block;
}
#google-login {
  font-family: 'Futura';
  margin: 15px auto;
  width: 50%;
  height: 50px;
  display: block;
}