#analysis-page {
  width: 100%;
  height: 100%;
}

#analysis-header {
  position: absolute;
  top: 75px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #97a91a;
  z-index: 98;
  box-shadow: 0px 1px 3px #333;
}
#analysis-header-items {
  width: 55%;
  margin: 0;
  margin-left: 10%;
}
.analysis-header-item {
  display: inline-block;
  font-family: 'Futura';
  margin: 0 25px;
  color: white;
  cursor: pointer;
}

#body-analysis {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-end;
  margin-top: 150px;
}

#analysis-data {
  display: flex;
  flex: 3;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#analysis-map {
  height: 600px;
  flex: 2;
}
#mapUser {
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 30%
}

#mapUserMarkers {
  background-color: lime;
  height: 10px;
  width: 10px;
  border-radius: 30%
}

/*#body-analysis {
  display:flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

#left-side-analysis-page {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

#crop-list-container {
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
  width: 250px;
}

#crop-list {
  list-style-type: none;
  margin: 10px;
  padding: 15px;
}

#suggested-supplier {
  list-style-type: none;
  margin: 10px;
}

.supplier-thumbnail {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#get-more-sups {
  border: 1px solid black;
}

#data-visuals-list {
  list-style-type: none;
}

.data-visual1 {
  margin-bottom: 170px;
  padding: 10px;
  height: 75px;
  width: 200px;
}

.data-visual2 {
  padding: 10px;
  height: 75px;
  width: 200px;
}

#right-side-analysis-page {
  display: flex;
  direction: column;
}

#analysis-map {
  position: absolute;
  top: 125px;
  right: 0;
  height: 550px;
  width: 500px;
  background-image: url(https://www.hiusa.org/images/uploads/state/Hawaii-state.png);
  background-size: 100% 100%;
  align-content: flex-end;
}

#analysis-search {
  position: absolute; bottom: 150px; left: 35%;
}

#analysis-search-bar {
  font-size: 20px;
  width: 200px;
  position: absolute;
  bottom: 75px;
  left: -125px;
  height: 35px;
  border-radius: 25px;
  border: 1.5px solid black;
  padding-left: 35px;
}
#analysis-search-bar:focus {
  outline: none;
}

#analysis-search-btn {
  position: absolute;
  bottom: 75px;
  left: 125px;
  background-color: #ff8f00;
  border: none;
  height: 35px;
  line-height: 35px;
  width: 150px;
  font-family: 'Futura';
  font-size: 18px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}
#analysis-search-btn:focus {
  outline: none;
}
#look-up-locat {
  font-family: 'Futura';
  width: 425px;
  position: absolute;
  top: -175px;
  left: -125px;
  font-size: 26px;
}

#crop-list-container {
  position: absolute;
  top: 18%;
  left: 5%;
  width: 20%;
  text-align: center;
}

#data-visuals-list {
  position: absolute;
  top: 18%;
  left: 30%;
  margin: 0;
}
#data-visual {
  margin-top: 0;
}
#crop-list-title {
  font-family: 'Futura';
  margin: 0;
  text-decoration: underline;
}
.crop {
  font-family: 'Futura';
  font-size: 18px;
}
.sugst-crop-type {
  font-size: 16px;
  color: #97a91a;
}*/