body {
  margin: 0;
}
#user-nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #97a91a;
}
#user-nav-items {
  width: 55%;
  margin: 0 auto;
}
.user-nav-item {
  display: inline-block;
  font-family: 'Futura';
  margin: 0 42.5px;
  color: white;
  cursor: pointer;
}
#user-avatar {
  position: absolute;
  top: 25%;
  left: 10%;
  text-align: center;
  border: 1px solid #999;
  width: 20%;
  display: inline-block;
}
#user-info {
  position: relative;
  top: 44px;
  left: 33%;
  border: 1px solid #999;
  width: 33%;
  text-align: center;
  height: 350px;
  display: inline-block;
}
#user-profile-pic {
  background-color: coral;
  border-radius: 100px;
  height: 150px;
  width: 150px;
  margin: 25px auto;
}